# Python
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# Django stuff
*.log
staticfiles/
media/

# SQLite database (optional if you don’t want to upload it)
db.sqlite3

# VSCode
.vscode/

# Environment variables
.env
