{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content=" device=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description"
    content="Shop the latest collection of stylish, comfortable, and affordable shoes online. Discover sneakers, formal shoes, sandals, and more with fast delivery and secure checkout." />
  <meta name="author" content="kiran k" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>

<body>
  <footer id="footer" class="footer">
    <div class="container row ms-auto pt-5 mt-3">

      <div class="col">
        <h4>Quick Links</h4>
        <ul>
          <li>
            <a class="footer_a" style="text-decoration: none;" href="">home</a>
          </li>
          <li>
            <a class="footer_a" href="">About Us</a>
            </li>
            <li>
            <a class="footer_a" href="">Shop</a>
            </li>
            <li>
            <a class="footer_a" href="">cart</a>
          </li>
        </ul>
      </div>
    <div class="col">
      <h4>Brands</h4>
      <ul>
        <li>
          <a class="footer_a" href="">Nike</a>
        </li>
        <li>
          <a class="footer_a" href="">Puma</a>
        </li>
        <li>
          <a class="footer_a" href="">Adidas</a>
        </li>
        <li>
          <a class="footer_a" href="">Converse</a>
        </li>
        <li>
          <a class="footer_a" href="">Comet</a>
        </li>
        <li>
          <a class="footer_a" href="">New Balance</a>
        </li>
      </ul>
    </div>

       <div class="col">
      <h4>Contact Us</h4>
      <ul>
        <li>
          <a class="footer_a" href="">Veluxeshoes@gmail.com</a>
        </li>
        <li>
          <a class="footer_a" href="">+91 8723564672</a>
        </li>
        <li>
          <a class="footer_a" href=""></a>
        </li>
      </ul>
    </div>

    <div class="col">
      <h4>Help</h4>
      <ul>
        <li>
          <a class="footer_a" href="">payments</a>
        </li>
        <li>
          <a class="footer_a" href="">shipping</a>
        </li>
        <li>
          <a class="footer_a" href="">returns</a>
        </li>
        <li>
          <a class="footer_a" href="">faq</a>
        </li>
    </div>
    </div>
    <div class="mt-5 d-flex justify-content-center" >
  <a class="navbar-brand d-flex align-items-center foot_animation " href="#">
                        <img src="{% static 'assets\images\footer\logo.svg' %}" alt="Logo" width="80" height="80"
                            class="d-inline-block align-text-top">
                        <span style="color: aliceblue; font-size: 200%;" class="ms-4">Veluxe Shoes</span>
                    </a>
   </div>
    <div class="d-flex justify-content-center" >
      <li >
        <ul>
          <a class="footer_a mx-3" href=""><img src="{% static 'assets\images\footer\facebook.svg' %}" alt="facebook" width="40" height="40"></a>
          <a class="footer_a mx-3" href=""><img src="{% static 'assets\images\footer\twitter.svg' %}" alt="facebook" width="40" height="40"></a>
          <a class="footer_a mx-3" href=""><img src="{% static 'assets\images\footer\instagram.svg' %}" alt="facebook" width="40" height="40"></a>
          <a class="footer_a mx-3" href=""><img src="{% static 'assets\images\footer\youtube.svg' %}" alt="facebook" width="40" height="40"></a>
        </ul>
      </li>
    </div>
  </footer>
</body>

</html>