{% extends 'base.html' %}


{% load static %}


{% block content %}

  <!-- home video -->
   <div> 
    <video  autoplay loop muted class="home-back">
      <source src="{% static 'assets\images\home_carousel\home.mp4n' %}" type="video/mp4">
    </video>
  </div>
  <div>
    <div class="home-but">
      <h1>veluxe</h1>
      <button>
        <span class="home-spa">shop</span>
      </button>
    </div>
  </div>


  <div class="home-head">
    <p class="home-car-head">EXPLORE <span>NEW ARRIVALS</span></p>
  </div>


  <!-- home carousel -->
  <div class="home-car video-container">
    <div id="carouselExampleCaptions" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
          aria-label="Slide 4"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'assets\images\home_carousel\1.jpg'%}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
          </div>
        </div>
        <div class="carousel-item">
      <img src="{% static 'assets\images\home_carousel\2.jpg'%}" class="d-block mx-auto" alt="..." height="600" width="1000" >
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
        <div class="carousel-item">
          <img src="{% static 'assets\images\home_carousel\3.jpg'%}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p>Some representative placeholder content for the third slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'assets\images\home_carousel\4.jpg'%}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p>Some representative placeholder content for the third slide.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

   <!-- category section -->
    <!-- <div style="margin-top: 5rem;">
 <ul class="nav justify-content-center">
  <li class="nav-item">
    <button onclick="filterProducts('men')">
         male
    </button>
  </li>
  <li class="nav-item">
    <button onclick="filterProducts('female')">
    female
    </button>
  </li>
  <li class="nav-item">
    <button onclick="filterProducts('kids')">
    kids
     </button>
  </li>
</ul>
</div>
  

  
  cards
  {% for product in result %}
  <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col product" data-category="{{ product.category|lower}}">
    <div class="card h-100">
      <img src="{{product.image.url}}" class="card-img-top" alt="..." width=200>
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.description }}</p>
        <h5>rs.{{ product.price }}</h5>
      </div>
    </div>
  </div>
  </div>
</div>
{% endfor %}

<script>
  const products = document.querySelectorAll(".product");

  function filterProducts(category) {
    products.forEach(product => {
      product.style.display =
        product.dataset.category === category ? "inline-block" : "none";
    });
  }
</script> -->
<!-- category section -->
 <nav class="shadow">
<div style="margin-top: 5rem;">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <button class="cat-but" onclick="filterProducts('male')">Men</button>
    </li>
    <li class="nav-item">
      <button class="cat-but" onclick="filterProducts('female')">Women</button>
    </li>
    <li class="nav-item">
      <button class="cat-but" onclick="filterProducts('kids')">Kids</button>
    </li>
  </ul>
</div>
</nav>

<!-- cards -->
  <div class="row row-cols-1 row-cols-md-4 g-4 mt-2">
  {% for product in result %}
  <div class="col product" data-category="{{ product.category|lower }}">
    <div class="card h-100">
      <img src="{{ product.image.url }}" class="card-img-top" alt="..." width="100" height="350">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <!-- <p class="card-text">{{ product.description }}</p> -->
        <h5>₹{{ product.price }}</h5>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<script>
  const products = document.querySelectorAll(".product");

  function filterProducts(category) {
    products.forEach(product => {
      product.style.display =
        product.dataset.category === category ? "block" : "none";
    });
  }
</script>

{% endblock %}