{% extends 'base.html' %}

{% load static %}

{% block content %}

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login</title>
  <meta name="description"
    content="Shop the latest collection of stylish, comfortable, and affordable shoes online. Discover sneakers, formal shoes, sandals, and more with fast delivery and secure checkout." />
  <meta name="author" content="kiran k" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body class="log-body">
  <div class="container min-vh-100 d-flex justify-content-center align-items-center log-border">
    <div class="row log-div ">
      <div class="col-lg log-cont me-1">

      </div>
      <div class="col-lg log-cont">
        <form id='login-form' action="" method="post">
          {% csrf_token %}
          <ul class="log-ul">
            <li>
              <p class="log-p mb-5">LOG <span>IN</span></p>
            </li>
            <li >
              <input type="text" id="username" name="username" placeholder="user-email" class="log-inp mt-3 ">
            </li>
            <li>
              <input type="password" id="password" name="password" placeholder="password" class="log-inp mt-3 mb-3 ">
            </li>
            <li class="mb-5 ms-3 ">
              <input type="checkbox" id="remember" name="remember" class="log-check">
              <label for="remember" style="color: azure;">remember me</label>
            </li>
            <li>
              <button class="log-button px-5 py-2 ms-4 mb-5" type="submit">login</button>
            </li>
          </ul>
          <p>
            <span class="me-1">
              <a href="{% url 'forgot' %}">forgot password?</a>
            </span>
            <span class="ms-5">
              <a href="{% url 'signup' %}">sign up</a>
            </span>
          </p>
        </form>
      </div>
    </div>
  </div>
  
  <!----------------------------------- modal ----------------------------------------------->


  <div class="modal fade" id="otpModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" id="otpMessage">
        message
      </div>
    </div>
  </div>
</div>

  <!-- ----------------------------------login verification---------------------------------------------- -->

<script>
  document.addEventListener("DOMContentLoaded", function() {
  document.getElementById("login-form").addEventListener("submit",login_verification);

  function getCSRF()
  {
    return document.querySelector('input[name=csrfmiddlewaretoken]').value
  }
  function showmodal(msg)
  {
    document.getElementById('otpMessage').innerText=msg;
    const modal= new bootstrap.Modal(document.getElementById('otpModal'));
    modal.show();
    setTimeout( () => {
      modal.hide();
    },1000);
  }
  function login_verification(e)
  {
    e.preventDefault();

    const form=document.getElementById('login-form')
    let formdata= new FormData(form)

    fetch("{% url 'login' %}",{
       method:'POST',
       headers:{"X-CSRFToken": getCSRF() },
       body:formdata
    })
    .then(res => res.json())
    .then(data => {
      console.log(data);   //added line
      showmodal(data.message);

    if (data.status === "success")
    {
      console.log("Redirecting to home...");
      setTimeout(()=>{
        window.location.href="{% url 'home' %}";
      },1000);
    }
    })
    .catch(err => {
        console.error("Fetch error:", err);
        showmodal("Server error!");
    });
  }
});

</script>

</body>
</html>

{% endblock %}