{% extends 'base.html' %}

{% load static %}

{% block content %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>order summary</title>
    <meta name="description"
        content="Shop the latest collection of stylish, comfortable, and affordable shoes online. Discover sneakers, formal shoes, sandals, and more with fast delivery and secure checkout." />
    <meta name="author" content="kiran k" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body class="order-back">
    <div class="order-sum m-5">
        <div class="mt-5">
            <div class=" row d-flex justify-content-center">
                <!-- IF STATEMENT -->
                <img src="{% static 'assets\images\logo\order_tick.svg' %}" alt="confirmation" width="100" height="100"
                    class="order-img">
            </div>
            <div class="row justify-content-center order-sent">
                thank you for your purchase
            </div>
            <div class="row mt-2">
                <div class="d-flex justify-content-center"> we've recieved your order will ship in 5-7 buisness days
                </div>
                <div class="d-flex justify-content-center">your order number is
                    <!-- <span>order number</span> -->
                </div>
            </div>
            <div class="row order-sum  mt-4 mb-5">
                <div class="mt-4 mb-5">
                   <h1 class="order-head ">Order Summary</h1> 
                </div>


                <div class="row mb-3 ms-5 me-5">
                    <div class="col-4">
                        <img src="" alt="ordered product">
                    </div>
                    <div class="col-6">
                        <!-- product details -->
                    </div>
                    <div class="col-2">
                        <!-- price -->
                    </div>
                </div>
                <div class="row mt-4 mb-5 " style="position: relative;">
                    <div class="order-cart-border m-auto">
                    </div>
                </div>


                <!-- underline for displaying total -->
                <div class="row mt-4 mb-3 " style="position: relative;">
                    <div class="order-cart-main-border m-auto">
                    </div>
                </div>
                <div class="row">
                    <div class="col-7 ms-5 check-total">
                        TOTAL
                    </div>
                    <div class="col-3">
                        $800
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>
{% endblock %}